/*############################
# by : fredericpetit.fr
##############################
# script : main.css
# usage : main style
# source : https://getbootstrap.com/docs/5.3/examples/starter-template/ & https://getbootstrap.com/docs/5.3/examples/sidebars/
############################*/

/* #################### the most beautiful font #################### */
body { font-family: 'Ubuntu', sans-serif !important; }

/* color modes */
body { transition: background-color 0.3s, color 0.3s; }

/* code correctly displays */
pre {
	white-space: pre-wrap;
	word-wrap: break-word;
}
.no-word-break {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* COMMON DROPDOWN & NAV - from starter-template.html */
.btn-bd-primary {
	--bd-violet-bg: #712cf9;
	--bd-violet-rgb: 112.520718, 44.062154, 249.437846;
	--bs-btn-font-weight: 600;
	--bs-btn-color: var(--bs-white);
	--bs-btn-bg: var(--bd-violet-bg);
	--bs-btn-border-color: var(--bd-violet-bg);
	--bs-btn-hover-color: var(--bs-white);
	--bs-btn-hover-bg: #6528e0;
	--bs-btn-hover-border-color: #6528e0;
	--bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
	--bs-btn-active-color: var(--bs-btn-hover-color);
	--bs-btn-active-bg: #5a23c8;
	--bs-btn-active-border-color: #5a23c8;
}
.bd-mode-toggle { z-index: 1500; }

/* SIDEBAR */
div#sidebar { 
	width: 4.5rem;
	color: #ffffff;
	background-color: #4c566a;
	box-shadow: 3px 1px 5px 3px rgba(0,0,0,0.75);
	-webkit-box-shadow: 3px 1px 5px 3px rgba(0,0,0,0.75);
	-moz-box-shadow: 3px 1px 5px 3px rgba(0,0,0,0.75);
}
div#sidebar:hover { background-color: #4c566a; }
div#sidebar a:not(.active):link,
div#sidebar a:not(.active):visited { color: #ffffff; background-color: #434c5e; }
div#sidebar a:not(.active):hover { color: #ffffff; background-color: #2e3440; }
div#sidebar a:link.active, 
div#sidebar a:visited.active { color: #bf616a; background-color: #2e3440; }
div#sidebar a.active:hover { color: #bf616a; background-color: #3b4252; }

/* MANAGEMENT EJS */
table#table-binaries td, 
table#table-logs td { font-size: 0.8rem; }
.text-warning-dark { color: #a78f25; }

/* TRACKER EJS */
[data-bs-theme="light"] div.col-element { background-color: #e5e9f0; }
[data-bs-theme="dark"] div.col-element { background-color: #2c3034; }
div.col-element-header span { 
	background-color: #4c566a;
	border-top-left-radius: 0.25rem;
	color: #ffffff;
}
div#col-action-button span#warning-tracker {
	white-space: normal;
	word-wrap: break-word;
	text-align: center;
	display: block;
}