<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- dsc -->
		<title><%= title %> - <%= site.title %></title>
		<meta name="description" content="<%- site.description %>">

		<!-- favicon -->
		<link rel="icon" href="/assets/img/logo_32.png.ico">

		<!-- CSS Bootstrap, Font Awesome, & Ubuntu Font -->
		<link rel="stylesheet" rel="preload" href="/assets/vendor/bootstrap/css/bootstrap.min.css" as="style">
		<link rel="stylesheet" rel="preload" href="/assets/vendor/fontawesome/css/all.min.css" as="style">
		<link rel="stylesheet" rel="preload" href="/assets/vendor/ubuntu/index.css" as="style">

		<!-- Main style -->
		<link rel="stylesheet" rel="preload" href="/assets/css/main.css" as="style">

		<!-- others -->
		<link rel="canonical" href="http://localhost:3000/">
	</head>

	<body>

		<!-- SVG elements for dropdown -->
		<svg xmlns="http://www.w3.org/2000/svg" class="d-none">
			<symbol id="check2" viewBox="0 0 16 16">
				<path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
			</symbol>
			<symbol id="circle-half" viewBox="0 0 16 16">
				<path d="M8 15A7 7 0 1 0 8 1v14zm0 1A8 8 0 1 1 8 0a8 8 0 0 1 0 16z"/>
			</symbol>
			<symbol id="moon-stars-fill" viewBox="0 0 16 16">
				<path d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z"/>
				<path d="M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.734 1.734 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.734 1.734 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.734 1.734 0 0 0 1.097-1.097l.387-1.162zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L13.863.1z"/>
			</symbol>
			<symbol id="sun-fill" viewBox="0 0 16 16">
				<path d="M8 12a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z"/>
			</symbol>
		</svg>

		<!-- Style dropdown -->
		<div class="dropdown position-fixed bottom-0 end-0 mb-3 me-3 bd-mode-toggle">
			<button class="btn btn-bd-primary py-2 dropdown-toggle d-flex align-items-center"
					id="bd-theme"
					type="button"
					aria-expanded="false"
					data-bs-toggle="dropdown"
					aria-label="Toggle theme (auto)">
			<svg class="bi my-1 theme-icon-active" width="1em" height="1em"><use href="#circle-half"></use></svg>
			<span class="visually-hidden" id="bd-theme-text">Toggle theme</span>
			</button>
			<ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="bd-theme-text">
				<li>
					<button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="light" aria-pressed="false">
					<svg class="bi me-2 opacity-50" width="1em" height="1em"><use href="#sun-fill"></use></svg>
					Light
					<svg class="bi ms-auto d-none" width="1em" height="1em"><use href="#check2"></use></svg>
					</button>
				</li>
				<li>
					<button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark" aria-pressed="false">
					<svg class="bi me-2 opacity-50" width="1em" height="1em"><use href="#moon-stars-fill"></use></svg>
					Dark
					<svg class="bi ms-auto d-none" width="1em" height="1em"><use href="#check2"></use></svg>
					</button>
				</li>
				<li>
					<button type="button" class="dropdown-item d-flex align-items-center active" data-bs-theme-value="auto" aria-pressed="true">
					<svg class="bi me-2 opacity-50" width="1em" height="1em"><use href="#circle-half"></use></svg>
					Auto
					<svg class="bi ms-auto d-none" width="1em" height="1em"><use href="#check2"></use></svg>
					</button>
				</li>
			</ul>
		</div>

		<main class="d-flex flex-nowrap">

			<!-- SIDEBAR -->
			<div id="sidebar" class="d-flex flex-column flex-shrink-0">
				<ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
					<li class="nav-item">
						<a href="/tracker" 
						class="nav-link <%= title === 'Index' ? 'active ' : '' %>py-3 border-bottom border-white rounded-0" 
						aria-current="<%= title === 'Index' ? 'page' : '' %>" 
						data-bs-toggle="tooltip" 
						data-bs-placement="right" 
						aria-label="Index" 
						data-bs-original-title="Index" 
						title="Index">
							<i class="fa-solid fa-home"></i>
						</a>
					</li>
					<li>
						<a href="/reporter" 
						class="nav-link <%= title === 'Reporter' ? 'active ' : '' %>py-3 border-bottom border-white rounded-0" 
						aria-current="<%= title === 'Reporter' ? 'page' : '' %>" 
						data-bs-toggle="tooltip" 
						data-bs-placement="right" 
						aria-label="Reporter" 
						data-bs-original-title="Reporter" 
						title="Reporter">
							<i class="fa-solid fa-newspaper"></i>
						</a>
					</li>
					<li>
						<a href="/monitoring" 
						class="nav-link <%= title === 'Monitoring' ? 'active ' : '' %>py-3 border-bottom border-white rounded-0" 
						aria-current="<%= title === 'Monitoring' ? 'page' : '' %>" 
						data-bs-toggle="tooltip" 
						data-bs-placement="right" 
						aria-label="Monitoring" 
						data-bs-original-title="Monitoring" 
						title="Monitoring">
							<i class="fa-solid fa-network-wired"></i>
						</a>
					</li>
					<li>
						<a href="/management" 
						class="nav-link <%= title === 'Management' ? 'active ' : '' %>py-3 border-bottom border-white rounded-0" 
						aria-current="<%= title === 'Management' ? 'page' : '' %>" 
						data-bs-toggle="tooltip" 
						data-bs-placement="right" 
						aria-label="Management" 
						data-bs-original-title="Management" 
						title="Management">
							<i class="fa-solid fa-wrench"></i>
						</a>
					</li>
				</ul>
			</div>

			<!--- CONTENT -->
			<div class="col-lg-10 mx-auto p-4">
				<header class="d-flex align-items-center pb-1 mb-2 border-bottom">
					<i class="fa-solid fa-file"></i>
					<span class="ps-2"><%= site.title %> - <%= title %></span>
				</header>

				<div class="min-vh-100">
					<%- body %>
				</div>

				<footer class="pt-2 my-2 text-body-secondary border-top">
					<p><%= site.title %> - version <%= site.revision %> - by <a title="distrotracker.com" href="https://distrotracker.com/" target="_blank" rel="noopener noreferrer">https://distrotracker.com/</a></p>
				</footer>

			</div>

		</main>

		<% if (title === "Index") { %>
		<!-- JS Table Sortable -->
		<script type="module" src="/assets/js/table-sortable.mjs"></script>
		<% } %>

		<!-- JS Bootstrap - colors source : https://getbootstrap.com/docs/5.3/customize/color-modes/ -->
		<script rel="preload" src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js" as="script"></script>
		<script rel="preload" src="/assets/js/color-modes.js" as="script"></script>

		<% if (title === "Index") { %>
		<!-- JS Events -->
		<script>
			// Event listener for reload (Tracker) single button.
			const button = document.getElementById('reload-tracker');
			if (button) {
				button.addEventListener("click", async () => {
					// Retrieve the selected value from the #source-tracker select element.
					const sourceTracker = document.getElementById('source-tracker');
					const selectedValue = sourceTracker.value;
					// Tests : determine typeName and sourceName based on the selected option.
					let typeName;
					let sourceName;
					if (selectedValue === '1') {
						typeName = 'distant';
						sourceName = 'distrotracker.com';
					} else if (selectedValue === '2') {
						typeName = 'distant';
						sourceName = 'gitlab.com';
					} else {
						typeName = 'local';
						sourceName = 'local';
					}
					// Change button state to show loading.
					button.disabled = true;
					button.innerHTML = 'RELOADING ...';
					// Simulate a small delay for visual effect.
					await new Promise(resolve => setTimeout(resolve, 1000));
					try {
						// Make an API call.
						const response = await fetch(`/api/download/${typeName}/tracker/${sourceName}`, { method: 'GET' });
						// Handle the API response.
						if (response.ok) {
							button.innerHTML = 'RELOADED';
							button.classList.replace('btn-warning', 'btn-primary');
						} else {
							throw new Error('Failed to fetch data.');
						}
					} catch (error) {
						// Handle errors.
						button.innerHTML = 'ERROR';
						button.classList.replace('btn-primary', 'btn-warning');
						console.error(`ERROR : reloading tracker : ${error.message}`);
					} finally {
						// Re-enable the button after completion.
						button.disabled = false;
					}
				});
			}

			// ACTION : Reload datas.
			//document.getElementById("reload-datas").addEventListener("click", async () => {
			//	// HTML position values.
			//	const button = document.getElementById("reload-datas");
			//	const list = document.getElementById("distro-list");
			//	// Disable the button and change its text.
			//	button.disabled = true;
			//	button.textContent = "updating ...";
			//	list.innerHTML = "<li class='text-muted'>updating ...</li>";
			//	// Visual effect.
			//	await new Promise(resolve => setTimeout(resolve, 1000));
			//	// Get new datas.
			//	const res = await fetch("/api/reload-data-tracker");
			//	if (res.ok) {
			//		const data = await res.json();
			//		// RàZ.
			//		list.innerHTML = "";
			//		// Adding.
			//		if (data.distro && data.distro.length > 0) {
			//			data.distro.forEach(distro => {
			//				const li = document.createElement("li");
			//				li.innerHTML = `<strong>${distro.name}</strong> - Version : ${distro.releases.latest.version}`;
			//				list.appendChild(li);
			//			});
			//		} else {
			//			list.innerHTML = "<li>error-empty</li>";
			//		}
			//	} else {
			//		list.innerHTML = "<li class='text-danger'>error-update.</li>";
			//	}
			//	// Reactivate the button and restore its text.
			//	button.disabled = false;
			//	button.textContent = "reload datas";
			//});
		</script>
		<% } %>
		<% if (title === "Management") { %>
		<!-- JS Events -->
		<script>
			// Event listener for install buttons.
			document.querySelectorAll('[id^="install-software-"]').forEach(button => {
				button.addEventListener("click", async () => {
					// Some definition.
					const softwareName = button.id.split('-').pop();
					// Change button.
					button.disabled = true;
					button.innerHTML = '<i class="fa-solid fa-rotate fa-spin"></i>';
					// Visual effect.
					await new Promise(resolve => setTimeout(resolve, 1000));
					// API call.
					const response = await fetch(`/api/install/${softwareName}`, { method: 'GET' });
					// Test : data exists.
					if (!response.ok) {
						button.innerHTML = '<i class="fa-solid fa-circle-exclamation"></i>';
						button.classList.replace('btn-primary', 'btn-warning');
					}
				});
			});
			// Event listener for remove buttons.
			document.querySelectorAll('[id^="remove-software-"]').forEach(button => {
				button.addEventListener("click", async () => {
					// Some definition.
					const softwareName = button.id.split('-').pop();
					// Change button.
					button.disabled = true;
					button.innerHTML = '<i class="fa-solid fa-rotate fa-spin"></i>';
					// Visual effect.
					await new Promise(resolve => setTimeout(resolve, 1000));
					// API call.
					const response = await fetch(`/api/remove/${softwareName}`, { method: 'GET' });
					// Test : data exists.
					if (!response.ok) {
						button.innerHTML = '<i class="fa-solid fa-circle-exclamation"></i>';
					}
				});
			});
			// Event listener for update buttons.
			document.querySelectorAll('[id^="update-software-"]').forEach(button => {
				button.addEventListener("click", async () => {
					// Some definition.
					const softwareName = button.id.split('-').pop();
					// Change button.
					button.disabled = true;
					button.innerHTML = '<i class="fa-solid fa-rotate fa-spin"></i>';
					// Visual effect.
					await new Promise(resolve => setTimeout(resolve, 1000));
					// API call.
					const response = await fetch(`/api/update/${softwareName}`, { method: 'GET' });
					// Test : data exists.
					if (!response.ok) {
						button.innerHTML = '<i class="fa-solid fa-circle-exclamation"></i>';
						button.classList.replace('btn-success', 'btn-warning');
					}
				});
			});
			// Event listener for empty log buttons.
			document.querySelectorAll('[id^="empty-log-"]').forEach(button => {
				button.addEventListener("click", async () => {
					// Some definition.
					const logName = button.id.split('-').pop();
					// Change button.
					button.disabled = true;
					button.innerHTML = '<i class="fa-solid fa-rotate fa-spin"></i>';
					// Visual effect.
					await new Promise(resolve => setTimeout(resolve, 1000));
					// API call.
					const response = await fetch(`/api/empty/${logName}`, { method: 'GET' });
					// Test : data exists.
					if (!response.ok) {
						button.innerHTML = '<i class="fa-solid fa-circle-exclamation"></i>';
					}
				});
			});
		</script>
		<!-- / JS Events -->
		<!-- JS Websocket -->
		<script type="module">
			// Websocket.
			import { io } from '/assets/vendor/socket.io/socket.io.esm.min.js';
			// Some definition.
			const socket = io();
			// On.
			socket.on('file-update', (data) => {
				const fileRow = document.querySelector(`[data-path="${data.path}"]`);
				if (fileRow) {
					// Log.
					console.log(`WEBSOCKET :: file '${data.path}' updated.`);
					// Some definition.
					const fileStatusElement = fileRow.querySelector('.file-status');
					const filePermissionsElement = fileRow.querySelector('.file-permissions');
					const fileModifiedElement = fileRow.querySelector('.file-modified');
					const fileUpdateElement = fileRow.querySelector('.file-update');
					const fileRemoveElement = fileRow.querySelector('.file-remove');
					const fileEmptyElement = fileRow.querySelector('.file-empty');
					// Tests : status, permissions, modified, install/update button, remove button, empty button.
					if (fileStatusElement) {
						fileStatusElement.innerHTML = data.exists
							? (data.size === 0
								? `<span class="text-warning-dark">${data.path}</span>`
								: `<span class="text-success">${data.path}</span>`)
							: `<span class="text-danger">${data.path}</span>`;
						fileStatusElement.innerHTML += data.exists
							? `<br /><span class="${data.version ? 'file-version' : 'file-size'}">
									${data.exists 
										? (data.version 
											? '(v ' + data.version + ')' 
											: '(' + data.size + ' b.)') 
										: ''}
								</span>`
							: ``;
					}
					if (filePermissionsElement) {
						filePermissionsElement.innerHTML = data.exists
							? `<i class="fa-solid fa-circle-user"></i> ${data.owner}:${data.group}<br />(${data.permissions.toString(8)})`
							: `<i class="fa-solid fa-circle-user"></i> -`;
					}
					if (fileModifiedElement) {
						fileModifiedElement.innerHTML = data.modified
							? `<i class="fa-solid fa-calendar-check"></i> ${new Date(data.modified).toLocaleString('fr-FR', {day: '2-digit', month: '2-digit', year: 'numeric', hour: '2-digit', minute: '2-digit', hour12: false}).replace(',', ' -')}`
							: `<i class="fa-solid fa-calendar-check"></i> -`;
					}
					if (fileUpdateElement) {
						const button = fileUpdateElement.querySelector('button');
						if (button.id.startsWith('update-software')) {
							console.log('WEBSOCKET :: Switch to UPDATE action.');
							if (button) {
								button.id = button.id.replace(/^update-software/, 'install-software');
							}
						} else if (button.id.startsWith('install-software')) {
							console.log('WEBSOCKET :: Switch to INSTALL action.');
							if (button) {
								button.id = button.id.replace(/^install-software/, 'update-software');
							}
						}
						if (button) {
							button.disabled = false;
							button.title = data.exists
								? "Update"
								: "Install";
							button.innerHTML = data.exists
								? '<i class="fa-solid fa-rotate-right"></i>'
								: '<i class="fa-solid fa-download"></i>';
							if (data.exists) {
								button.classList.remove('btn-primary');
								button.classList.add('btn-success');
							} else {
								button.classList.remove('btn-success');
								button.classList.add('btn-primary');
							}
						}
					}
					if (fileRemoveElement) {
						const button = fileRemoveElement.querySelector('button');
						if (button) {
							button.title = data.exists 
								? (data.owner === 1000 ? "Remove" : "Impossible to remove") 
								: "Impossible to remove";
							button.disabled = !(data.exists && data.owner === 1000);
							button.innerHTML = '<i class="fa-solid fa-trash"></i>';
						}
					}
					if (fileEmptyElement) {
						const button = fileEmptyElement.querySelector('button');
						if (button) {
							button.title = data.exists 
								? (data.size > 0 ? "Empty file" : data.size === 0 ? "File empty" : "Impossible to empty file") 
								: "Impossible to empty file";
							button.disabled = !(data.exists && data.size > 0);
							button.innerHTML = '<i class="fa-solid fa-trash"></i>';
						}
					}
				}
			});
			</script>
			<!-- / JS Websocket -->
		<% } %>
	</body>

</html>