<!-- Modal -->
<div class="modal fade" id="software" tabindex="-1" aria-labelledby="software" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5">LOG</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
			</div>
			<div class="modal-body">
				<p>LOG HERE</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">close</button>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col m-1 p-2 rounded" style="background-color: #eceff4;">
		<h2 class="p-1 fs-4">Binaries</h2>
		<table id="table-binaries" class="mb-0 table table-borderless table-striped table-hover">
			<tbody>
				<% binariesInfos.forEach(file => { %>
				<tr data-path="<%= file.path %>">
					<td class="file-status no-word-break">
						<span class="<%= file.info.exists ? 'text-success' : 'text-danger' %>"><%= file.path %></span><br />
						<span class="<%= file.info.version ? 'file-version' : 'file-size' %>">
							<%- file.info.exists 
								? (file.info.version 
									? '(v ' + file.info.version + ')' 
									: '(' + file.info.size + ' b.)') 
								: '' 
							%>
						</span>
					</td>
					<td class="file-permissions">
						<i class="fa-solid fa-circle-user"></i>
						<%- file.info.exists ? file.info.owner + ':' + file.info.group + '<br />(' + file.info.permissions.toString(8) + ')' : '-' %>
					</td>
					<td class="file-modified">
						<i class="fa-solid fa-calendar-check"></i>
						<%= file.info.exists && file.info.modified ? new Date(file.info.modified).toLocaleString('fr-FR', {
							day: '2-digit', month: '2-digit', year: 'numeric',
							hour: '2-digit', minute: '2-digit', hour12: false
						}).replace(',', ' -') : '-' %>
					</td>
					<td class="file-update no-word-break">
						<button type="button" class="btn btn-sm <%= file.info.exists ? 'btn-success' : 'btn-primary' %>" 
							id="<%= file.info.exists ? 'update-software-' + file.path.replace('/var/node/bin/distro-', '') : 'install-software-' + file.path.replace('/var/node/bin/distro-', '') %>">
							<%- file.info.exists ? '<i class="fa-solid fa-rotate-right"></i>' : '<i class="fa-solid fa-download"></i>' %>
						</button>
					</td>
					<td class="file-remove no-word-break">
						<button type="button" <%= file.info.exists ? '' : 'disabled' %> class="btn btn-sm btn-danger" 
							id="remove-software-<%= file.path.replace('/var/node/bin/distro-', '') %>">
							<i class="fa-solid fa-trash"></i>
						</button>
					</td>
				</tr>
				<% }) %>
			</tbody>
		</table>
	</div>
	<div class="col m-1 p-2 rounded" style="background-color: #e5e9f0;">
		<h2 class="p-1 fs-4">Logs</h2>
		<table id="table-logs" class="mb-0 table table-borderless table-striped table-hover">
			<tbody>
				<% logsInfos.forEach(file => { %>
				<tr data-path="<%= file.path %>">
					<td class="file-status no-word-break">
						<span class="<%= file.info.exists ? (file.info.size === 0 ? 'text-warning-dark' : 'text-success') : 'text-danger' %>">
							<%= file.path %>
						</span>
						<br />
						<span class="<%= file.info.version ? 'file-version' : 'file-size' %>">
							<%- file.info.exists 
								? (file.info.version 
									? '(v ' + file.info.version + ')' 
									: '(' + file.info.size + ' b.)') 
								: '' 
							%>
						</span>
					</td>
					<td class="file-permissions">
						<i class="fa-solid fa-circle-user"></i>
						<%- file.info.exists ? file.info.owner + ':' + file.info.group + '<br />(' + file.info.permissions.toString(8) + ')' : '-' %>
					</td>
					<td class="file-modified">
						<i class="fa-solid fa-calendar-check"></i>
						<%= file.info.exists && file.info.modified ? new Date(file.info.modified).toLocaleString('fr-FR', {
							day: '2-digit', month: '2-digit', year: 'numeric',
							hour: '2-digit', minute: '2-digit', hour12: false
						}).replace(',', ' -') : '-' %>
					</td>
					<td class="file-empty no-word-break">
						<button type="button" title="<%= file.info.size > 0 ? 'Empty file' : (file.info.size === 0 ? 'File empty' : 'Impossible to empty file') %>" class="btn btn-danger btn-sm" id="empty-log-<%= file.path.replace('/var/log/distro/', '').replace('.log', '') %>" <%= file.info.size === 0 || file.info.owner !== 1000 || file.info.group !== 1000 ? 'disabled' : '' %>>
							<i class="fa-solid fa-trash"></i>
						</button>
					</td>
				</tr>
				<% }) %>
			</tbody>
		</table>
	</div>
</div>