<div class="row gap-2">

	<!-- button-->
	<div id="col-action-button" class="col-element col d-flex align-items-stretch flex-column rounded p-2">
		<div class="row col-element-header ms-0 mt-0 me-0 mb-2 p-0 d-inline-block">
			<span class="fs-6 fw-bold text-lowercase m-0 ps-2 pt-1 pe-2 pb-1">Source</span>
		</div>
		<!-- actions -->
		<div class="row w-100 align-items-stretch flex-grow-1 m-0 p-0">
			<div class="col-auto d-flex h-100 m-0 p-0">
				<button type="button" class="btn btn-primary btn-lg" id="reload-tracker" type="button">
					<i class="fa-solid fa-rotate-right display-1 p-2"></i>
				</button>
			</div>
			<div class="col m-0 pt-0 pe-0 pb-0 ps-2">
				<div class="input-group mb-2 p-0">
					<select class="form-select" id="source-tracker">
						<option value="1" selected>distrotracker.com</option>
						<option value="2">gitlab.com</option>
						<option value="3">local source</option>
					</select>
				</div>
				<span class="badge text-bg-info d-grid m-0 p-2" id="warning-tracker">With local source, you need Distro Tracker binary.</span>
			</div>
		</div>
	</div>

	<!-- host -->
	<div id="col-action-host" class="col-element col d-flex align-items-stretch flex-column rounded p-2">
		<div class="row col-element-header ms-0 mt-0 me-0 mb-2 p-0 d-inline-block">
			<span class="fs-6 fw-bold text-lowercase m-0 ps-2 pt-1 pe-2 pb-1">Host informations</span>
		</div>
		<!-- actions -->
		<div class="row w-100 align-items-stretch flex-grow-1 m-0 p-0">
				<div class="col-auto d-flex h-100 m-0 p-0 align-items-center justify-content-center rounded bg-secondary-subtle">
					<p class="display-1 m-0 pt-3 pe-4 pb-3 ps-4">
						<i class="<%= ['ubuntu', 'debian', 'fedora'].includes(host.name.toLowerCase()) ? 'fa-brands fa-' + host.name.toLowerCase() : 'fa-solid fa-desktop' %>"></i>
					</p>
				</div>
				<div class="col m-0 pt-0 ps-4">
					<h3 class="pt-4"><%= host.name %></h3>
					<small class="d-inline-flex px-2 py-1 fw-semibold border rounded-2 <%= host.version === matching.latest.version.rewritten ? 'text-success-emphasis bg-success-subtle border-success-subtle' : 'text-danger-emphasis bg-danger-subtle border-danger-subtle' %>">version <%= host.version %> | latest known : <%= matching.latest.version.initial %></small>
				</div>
		</div>
	</div>

	<!-- meta -->
	<div id="col-action-meta" class="col-element col d-flex align-items-stretch flex-column rounded p-2">
		<div class="row col-element-header ms-0 mt-0 me-0 mb-2 p-0 d-inline-block">
			<span class="fs-6 fw-bold text-lowercase m-0 ps-2 pt-1 pe-2 pb-1">Metadatas</span>
		</div>
		<!-- actions -->
		<div class="row w-100 align-items-stretch flex-grow-1 m-0 p-0">
			<div class="col-auto d-flex h-100 m-0 p-0 align-items-center justify-content-center display-1 rounded bg-primary-subtle">
				<p class="fw-semibold m-0 pt-2 p-3"><% if (data.distro && data.distro.length > 0 && data.revision) { %><%= data.distro.length %><% } else { %>N/A<% } %></p>
			</div>
			<div class="col">
				<h3 class="fs-2 fw-semibold mt-0 pt-0 mb-0 pb-0">distributions watched</h3>
				<ul class="small mt-2 pt-0 mb-0 pb-0">
					<li><i class="fa-regular fa-calendar-days"></i> revision (data) : <% if (data.distro && data.distro.length > 0 && data.revision) { %><%= new Date(data.revision).toLocaleString('fr-FR', { day: '2-digit', month: '2-digit', year: 'numeric' }).replace(',', ' -') %><% } else { %>N/A<% } %></li>
					<li><i class="fa-regular fa-calendar-days"></i> modification (file) : <% if (data.distro && data.distro.length > 0 && data.modification) { %><%= new Date(data.modification).toLocaleString('fr-FR', { day: '2-digit', month: '2-digit', year: 'numeric' }).replace(',', ' -') %><% } else { %>N/A<% } %></li>
					<li><i class="fa-solid fa-cloud-arrow-down"></i> source : <%= data.source %></li>
				</ul>
			</div>
		</div>
		<!--<p><a title="access-datas" href="/data"><i class="fa-solid fa-database"></i> raw datas access</a></p>-->
	</div>

</div>

<div class="row">

	<div class="col mt-2 p-2 rounded" style="background-color: #e5e9f0;">
		<h2 class="p-1 fs-4">Datas</h2>
		<% if (data.distro && data.distro.length > 0) { %>
		<table id="table-sortable" class="mb-0 table table-bordered table-striped table-hover">
			<thead>
				<tr>
					<th scope="col" class="sortable" data-column="name" data-order="asc">
						<button class="btn btn-sm btn-info sort-btn">
							<i class="fa-solid fa-sort"></i>
						</button>
							name
					</th>
					<th scope="col">latest</th>
					<th scope="col" class="sortable" data-column="date" data-order="asc">
						<button class="btn btn-sm btn-info sort-btn">
							<i class="fa-solid fa-sort"></i>
						</button>
							date
					<th scope="col">few latest</th>
					<th scope="col">few nok</th>
					<th scope="col">source</th>
				</tr>
			</thead>
			<tbody class="table-group-divider">
				<% data.distro.forEach(function(distro) { %>
				<tr data-path="<%= distro.name %>">
					<td class="no-word-break">
						<p><%= distro.fullname %></p>
					</td>
					<td class="no-word-break">
						<p><%= distro.releases.latest.version %></p>
					</td>
					<td class="no-word-break">
						<p><%= (distro.releases.latest.date === 'rolling') ? 'rolling' : (isNaN(new Date(distro.releases.latest.date).getTime()) ? 'ERR_INV' : new Date(distro.releases.latest.date).toLocaleString('fr-FR', {day: '2-digit', month: '2-digit', year: 'numeric'}).replace(',', ' -')) %></p>
					</td>
					<td class="no-word-break">
						<ul>
							<% if (distro.releases.valid && distro.releases.valid.length > 0) { %>
								<% distro.releases.valid.forEach(function(validItem) { %>
									<li>
										<a href="<%= validItem.url %>" target="_blank" rel="noopener noreferrer">
											<%= validItem.version %>
										</a>
									</li>
								<% }); %>
							<% } else { %>
								<li>N/A</li>
							<% } %>
						</ul>
					</td>
					<td class="no-word-break">
						<ul>
							<% if (distro.releases.nok && distro.releases.nok.length > 0) { %>
								<% distro.releases.nok.forEach(function(nokItem) { %>
									<li>
										<a href="<%= nokItem.url %>" target="_blank" rel="noopener noreferrer">
											<%= nokItem.version %>
										</a>
									</li>
								<% }); %>
							<% } %>
						</ul>
					</td>
					<td class="no-word-break">
						<p><%= distro.source %></p>
					</td>
				</tr>
				<% }); %>
			</tbody>
		</table>
		<% } else { %>
		<div class="alert alert-danger mb-0" role="alert">
			<p>No datas.</p>
		</div>
		<% } %>
	</div>

</div>