<div class="table-responsive">
<table class="mb-0 table table-bordered table-striped">
	<thead>
		<tr>
			<th scope="col">Name</th>
			<th scope="col">VersionLatest</th>
			<th scope="col">VersionLatestDate</th>
			<th scope="col">VersionValid</th>
			<th scope="col">Source</th>
		</tr>
	</thead>
	<tbody class="table-group-divider">
		<tr>
			<td>alma</td>
			<td><a target="_blank" href="https://repo.almalinux.org/almalinux/9.4/isos/x86_64/AlmaLinux-9.4-x86_64-dvd.iso">9.4</a></td>
			<td>2024-05-03</td>
			<td>
				<ul>
					<li><a target="_blank" href="https://repo.almalinux.org/almalinux/9.4/isos/x86_64/AlmaLinux-9.4-x86_64-dvd.iso">9.4</a></li>
					<li><a target="_blank" href="https://vault.almalinux.org/9.3/isos/x86_64/AlmaLinux-9.3-x86_64-dvd.iso">9.3</a></li>
					<li><a target="_blank" href="https://vault.almalinux.org/9.2/isos/x86_64/AlmaLinux-9.2-x86_64-dvd.iso">9.2</a></li>
				</ul>
			</td>
			<td>current</td>
		</tr>
		<tr>
			<td>alpine</td>
			<td><a target="_blank" href="https://dl-cdn.alpinelinux.org/alpine/v3.20/releases/x86_64/alpine-standard-3.20.2-x86_64.iso">3.20</a></td>
			<td class="table-success">2024-07-22</td>
			<td>
				<ul>
					<li><a target="_blank" href="https://dl-cdn.alpinelinux.org/alpine/v3.20/releases/x86_64/alpine-standard-3.20.2-x86_64.iso">3.20</a></li>
					<li><a target="_blank" href="https://dl-cdn.alpinelinux.org/alpine/v3.19/releases/x86_64/alpine-standard-3.19.3-x86_64.iso">3.19</a></li>
					<li><a target="_blank" href="https://dl-cdn.alpinelinux.org/alpine/v3.18/releases/x86_64/alpine-standard-3.18.8-x86_64.iso">3.18</a></li>
				</ul>
			</td>
			<td>current</td>
		</tr>
		<tr>
			<td>arch</td>
			<td><a target="_blank" href="https://geo.mirror.pkgbuild.com/iso/2024.08.01/archlinux-2024.08.01-x86_64.iso">2024.08.01</a></td>
			<td class="table-success">2024-08-01</td>
			<td>
				<ul>
					<li><a target="_blank" href="https://geo.mirror.pkgbuild.com/iso/2024.08.01/archlinux-2024.08.01-x86_64.iso">2024.08.01</a></li>
					<li><a target="_blank" href="https://geo.mirror.pkgbuild.com/iso/2024.07.01/archlinux-2024.07.01-x86_64.iso">2024.07.01</a></li>
					<li><a target="_blank" href="https://geo.mirror.pkgbuild.com/iso/2024.06.01/archlinux-2024.06.01-x86_64.iso">2024.06.01</a></li>
				</ul>
			</td>
			<td>current</td>
		</tr>
		<tr>
			<td>centos</td>
			<td><a target="_blank" href="https://mirror.in2p3.fr/pub/linux/centos-stream/10-stream/BaseOS/x86_64/iso/CentOS-Stream-10-latest-x86_64-dvd1.iso">10-stream</a></td>
			<td class="table-success">2024-08-14</td>
			<td>
				<ul>
					<li><a target="_blank" href="https://mirror.in2p3.fr/pub/linux/centos-stream/10-stream/BaseOS/x86_64/iso/CentOS-Stream-10-latest-x86_64-dvd1.iso">10-stream</a></li>
					<li><a target="_blank" href="https://mirror.in2p3.fr/pub/linux/centos-stream/9-stream/BaseOS/x86_64/iso/CentOS-Stream-9-latest-x86_64-dvd1.iso">9-stream</a></li>
					<li><a target="_blank" href="https://mirror.in2p3.fr/pub/linux/centos-vault/8.5.2111/isos/x86_64/CentOS-8.5.2111-x86_64-dvd1.iso">8.5.2111</a></li>
				</ul>
			</td>
			<td>current</td>
		</tr>
		<tr>
			<td>clonezilla</td>
			<td><a target="_blank" href="https://sourceforge.net/projects/clonezilla/files/clonezilla_live_stable/3.1.3-16/clonezilla-live-3.1.3-16-amd64.iso">3.1.3-16</a></td>
			<td>2024-07-15</td>
			<td>
				<ul>
					<li><a target="_blank" href="https://sourceforge.net/projects/clonezilla/files/clonezilla_live_stable/3.1.3-16/clonezilla-live-3.1.3-16-amd64.iso">3.1.3-16</a></li>
					<li><a target="_blank" href="https://sourceforge.net/projects/clonezilla/files/clonezilla_live_stable/3.1.3-11/clonezilla-live-3.1.3-11-amd64.iso">3.1.3-11</a></li>
					<li><a target="_blank" href="https://sourceforge.net/projects/clonezilla/files/clonezilla_live_stable/3.1.2-22/clonezilla-live-3.1.2-22-amd64.iso">3.1.2-22</a></li>
				</ul>
			</td>
			<td>current</td>
		</tr>
		<tr>
			<td>debian</td>
			<td><a target="_blank" href="https://cdimage.debian.org/debian-cd/current/amd64/iso-dvd/debian-12.6.0-amd64-DVD-1.iso">12.6.0</a></td>
			<td>2024-06-29</td>
			<td>
				<ul>
					<li><a target="_blank" href="https://cdimage.debian.org/debian-cd/current/amd64/iso-dvd/debian-12.6.0-amd64-DVD-1.iso">12.6.0</a></li>
					<li><a target="_blank" href="https://cdimage.debian.org/mirror/cdimage/archive/12.5.0/amd64/iso-dvd/debian-12.5.0-amd64-DVD-1.iso">12.5.0</a></li>
					<li><a target="_blank" href="https://cdimage.debian.org/mirror/cdimage/archive/12.4.0/amd64/iso-dvd/debian-12.4.0-amd64-DVD-1.iso">12.4.0</a></li>
				</ul>
			</td>
			<td>current</td>
		</tr>
		<tr>
			<td>fedora</td>
			<td><a target="_blank" href="https://mirror.in2p3.fr/pub/fedora/linux/releases/40/Workstation/x86_64/iso/Fedora-Workstation-Live-x86_64-40-1.14.iso">40</a></td>
			<td>2024-04-15</td>
			<td>
				<ul>
					<li><a target="_blank" href="https://mirror.in2p3.fr/pub/fedora/linux/releases/40/Workstation/x86_64/iso/Fedora-Workstation-Live-x86_64-40-1.14.iso">40</a></li>
					<li><a target="_blank" href="https://mirror.in2p3.fr/pub/fedora/linux/releases/39/Workstation/x86_64/iso/Fedora-Workstation-Live-x86_64-39-1.5.iso">39</a></li>
					<li><a target="_blank" href="https://archives.fedoraproject.org/pub/archive/fedora/linux/releases/38/Workstation/x86_64/iso/Fedora-Workstation-Live-x86_64-38-1.6.iso">38</a></li>
				</ul>
			</td>
			<td>current</td>
		</tr>
		<tr>
			<td>freebsd</td>
			<td><a target="_blank" href="https://download.freebsd.org/releases/ISO-IMAGES/14.1/FreeBSD-14.1-RELEASE-amd64-dvd1.iso">14.1</a></td>
			<td>2024-05-31</td>
			<td>
				<ul>
					<li><a target="_blank" href="https://download.freebsd.org/releases/ISO-IMAGES/14.1/FreeBSD-14.1-RELEASE-amd64-dvd1.iso">14.1</a></li>
					<li><a target="_blank" href="https://download.freebsd.org/releases/ISO-IMAGES/14.0/FreeBSD-14.0-RELEASE-amd64-dvd1.iso">14.0</a></li>
					<li><a target="_blank" href="https://download.freebsd.org/releases/ISO-IMAGES/13.3/FreeBSD-13.3-RELEASE-amd64-dvd1.iso">13.3</a></li>
				</ul>
			</td>
			<td>current</td>
		</tr>
		<tr>
			<td>kaisen</td>
			<td><a target="_blank" href="https://iso.kaisenlinux.org/rolling/kaisenlinuxrolling2.3-amd64-MATE.iso">2.3</a></td>
			<td>2023-05-31</td>
			<td>
				<ul>
					<li><a target="_blank" href="https://iso.kaisenlinux.org/rolling/kaisenlinuxrolling2.3-amd64-MATE.iso">2.3</a></li>
					<li><a target="_blank" href="https://iso.kaisenlinux.org/rolling/kaisenlinuxrolling2.2-amd64-MATE.iso">2.2</a></li>
					<li><a target="_blank" href="https://iso.kaisenlinux.org/rolling/kaisenlinuxrolling2.1-amd64-MATE.iso">2.1</a></li>
				</ul>
			</td>
			<td>current</td>
		</tr>
		<tr>
			<td>kali</td>
			<td><a target="_blank" href="https://cdimage.kali.org/kali-2024.2/kali-linux-2024.2-installer-amd64.iso">2024.2</a></td>
			<td>2024-05-27</td>
			<td>
				<ul>
					<li><a target="_blank" href="https://cdimage.kali.org/kali-2024.2/kali-linux-2024.2-installer-amd64.iso">2024.2</a></li>
					<li><a target="_blank" href="https://cdimage.kali.org/kali-2024.1/kali-linux-2024.1-installer-amd64.iso">2024.1</a></li>
				</ul>
			</td>
			<td>current</td>
		</tr>
		<tr>
			<td>linux</td>
			<td><a target="_blank" href=""></a></td>
			<td class="table-success"></td>
			<td>
				<ul>
				</ul>
			</td>
			<td>current</td>
		</tr>
		<tr>
			<td>mageia</td>
			<td><a target="_blank" href="https://mirrors.kernel.org/mageia/iso/9/Mageia-9-x86_64/Mageia-9-x86_64.iso">9</a></td>
			<td>2023-08-24</td>
			<td>
				<ul>
					<li><a target="_blank" href="https://mirrors.kernel.org/mageia/iso/9/Mageia-9-x86_64/Mageia-9-x86_64.iso">9</a></li>
					<li><a target="_blank" href="https://mirrors.kernel.org/mageia/iso/8/Mageia-8-x86_64/Mageia-8-x86_64.iso">8</a></li>
				</ul>
			</td>
			<td>current</td>
		</tr>
		<tr>
			<td>manjaro</td>
			<td><a target="_blank" href="https://download.manjaro.org/kde/24.0.6/manjaro-kde-24.0.6-240812-linux69.iso">24.0.6</a></td>
			<td>rolling</td>
			<td>
				<ul>
					<li><a target="_blank" href="https://download.manjaro.org/kde/24.0.6/manjaro-kde-24.0.6-240812-linux69.iso">24.0.6</a></li>
				</ul>
			</td>
			<td>current</td>
		</tr>
		<tr>
			<td>mint</td>
			<td><a target="_blank" href="https://mirrors.edge.kernel.org/linuxmint/stable/22/linuxmint-22-cinnamon-64bit.iso">22</a></td>
			<td class="table-success">2024-07-21</td>
			<td>
				<ul>
					<li><a target="_blank" href="https://mirrors.edge.kernel.org/linuxmint/stable/22/linuxmint-22-cinnamon-64bit.iso">22</a></li>
					<li><a target="_blank" href="https://mirrors.edge.kernel.org/linuxmint/stable/21.3/linuxmint-21.3-cinnamon-64bit.iso">21.3</a></li>
					<li><a target="_blank" href="https://mirrors.edge.kernel.org/linuxmint/stable/21.2/linuxmint-21.2-cinnamon-64bit.iso">21.2</a></li>
				</ul>
			</td>
			<td>current</td>
		</tr>
		<tr>
			<td>mx</td>
			<td><a target="_blank" href="https://sourceforge.net/projects/mx-linux/files/Final/KDE/MX-23.3_KDE_x64.iso">23.3</a></td>
			<td>2024-05-18</td>
			<td>
				<ul>
					<li><a target="_blank" href="https://sourceforge.net/projects/mx-linux/files/Final/KDE/MX-23.3_KDE_x64.iso">23.3</a></li>
					<li><a target="_blank" href="https://sourceforge.net/projects/mx-linux/files/Old/MX-23.2/KDE/MX-23.2_KDE_x64.iso">23.2</a></li>
					<li><a target="_blank" href="https://sourceforge.net/projects/mx-linux/files/Old/MX-23.1/KDE/MX-23.1_KDE_x64.iso">23.1</a></li>
				</ul>
			</td>
			<td>current</td>
		</tr>
		<tr>
			<td>opensuse</td>
			<td><a target="_blank" href="https://fr2.rpmfind.net/linux/opensuse/distribution/leap/15.6/iso/openSUSE-Leap-15.6-DVD-x86_64-Media.iso">15.6</a></td>
			<td>2024-06-20</td>
			<td>
				<ul>
					<li><a target="_blank" href="https://fr2.rpmfind.net/linux/opensuse/distribution/leap/15.6/iso/openSUSE-Leap-15.6-DVD-x86_64-Media.iso">15.6</a></li>
					<li><a target="_blank" href="https://fr2.rpmfind.net/linux/opensuse/distribution/leap/15.5/iso/openSUSE-Leap-15.5-DVD-x86_64-Media.iso">15.5</a></li>
				</ul>
			</td>
			<td>current</td>
		</tr>
		<tr>
			<td>opnsense</td>
			<td><a target="_blank" href="https://mirror.wdc1.us.leaseweb.net/opnsense/releases/24.7/OPNsense-24.7-dvd-amd64.iso.bz2">24.7</a></td>
			<td class="table-success">2024-07-23</td>
			<td>
				<ul>
					<li><a target="_blank" href="https://mirror.wdc1.us.leaseweb.net/opnsense/releases/24.7/OPNsense-24.7-dvd-amd64.iso.bz2">24.7</a></li>
					<li><a target="_blank" href="https://mirror.wdc1.us.leaseweb.net/opnsense/releases/24.1/OPNsense-24.1-dvd-amd64.iso.bz2">24.1</a></li>
					<li><a target="_blank" href="https://mirror.wdc1.us.leaseweb.net/opnsense/releases/23.7/OPNsense-23.7-dvd-amd64.iso.bz2">23.7</a></li>
				</ul>
			</td>
			<td>current</td>
		</tr>
		<tr>
			<td>parrot</td>
			<td><a target="_blank" href="https://deb.parrot.sh/parrot/iso/6.1/Parrot-security-6.1_amd64.iso">6.1</a></td>
			<td>2024-06-03</td>
			<td>
				<ul>
					<li><a target="_blank" href="https://deb.parrot.sh/parrot/iso/6.1/Parrot-security-6.1_amd64.iso">6.1</a></li>
				</ul>
			</td>
			<td>current</td>
		</tr>
		<tr>
			<td>pfsense</td>
			<td><a target="_blank" href="https://atxfiles.netgate.com/mirror/downloads/pfSense-CE-2.7.2-RELEASE-amd64.iso.gz">2.7.2</a></td>
			<td>2023-12-08</td>
			<td>
				<ul>
					<li><a target="_blank" href="https://atxfiles.netgate.com/mirror/downloads/pfSense-CE-2.7.2-RELEASE-amd64.iso.gz">2.7.2</a></li>
					<li><a target="_blank" href="https://atxfiles.netgate.com/mirror/downloads/pfSense-CE-2.7.1-RELEASE-amd64.iso.gz">2.7.1</a></li>
					<li><a target="_blank" href="https://atxfiles.netgate.com/mirror/downloads/pfSense-CE-2.7.0-RELEASE-amd64.iso.gz">2.7.0</a></li>
				</ul>
			</td>
			<td>current</td>
		</tr>
		<tr>
			<td>proxmox</td>
			<td><a target="_blank" href="https://enterprise.proxmox.com/iso/proxmox-ve_8.2-1.iso">8.2-1</a></td>
			<td>2024-04-24</td>
			<td>
				<ul>
					<li><a target="_blank" href="https://enterprise.proxmox.com/iso/proxmox-ve_8.2-1.iso">8.2-1</a></li>
					<li><a target="_blank" href="https://enterprise.proxmox.com/iso/proxmox-ve_8.1-2.iso">8.1-2</a></li>
					<li><a target="_blank" href="https://enterprise.proxmox.com/iso/proxmox-ve_7.4-1.iso">7.4-1</a></li>
				</ul>
			</td>
			<td>current</td>
		</tr>
		<tr>
			<td>slackware</td>
			<td><a target="_blank" href="https://mirrors.slackware.com/slackware/slackware-iso/slackware64-15.0-iso/slackware64-15.0-install-dvd.iso">15.0</a></td>
			<td>2022-02-03</td>
			<td>
				<ul>
					<li><a target="_blank" href="https://mirrors.slackware.com/slackware/slackware-iso/slackware64-15.0-iso/slackware64-15.0-install-dvd.iso">15.0</a></li>
					<li><a target="_blank" href="https://mirrors.slackware.com/slackware/slackware-iso/slackware64-14.2-iso/slackware64-14.2-install-dvd.iso">14.2</a></li>
					<li><a target="_blank" href="https://mirrors.slackware.com/slackware/slackware-iso/slackware64-14.1-iso/slackware64-14.1-install-dvd.iso">14.1</a></li>
				</ul>
			</td>
			<td>current</td>
		</tr>
		<tr>
			<td>ubuntu</td>
			<td><a target="_blank" href="https://releases.ubuntu.com/24.04/ubuntu-24.04-desktop-amd64.iso">24.04</a></td>
			<td>2024-04-24</td>
			<td>
				<ul>
					<li><a target="_blank" href="https://releases.ubuntu.com/24.04/ubuntu-24.04-desktop-amd64.iso">24.04</a></li>
					<li><a target="_blank" href="https://releases.ubuntu.com/23.10.1/ubuntu-23.10.1-desktop-amd64.iso">23.10.1</a></li>
					<li><a target="_blank" href="https://releases.ubuntu.com/23.10/ubuntu-23.10.1-desktop-amd64.iso">23.10</a></li>
				</ul>
			</td>
			<td>current</td>
		</tr>
		<tr>
			<td>xcpng</td>
			<td><a target="_blank" href="https://updates.xcp-ng.org/isos/8.2/xcp-ng-8.2.1.iso">8.2</a></td>
			<td>2022-02-25</td>
			<td>
				<ul>
					<li><a target="_blank" href="https://updates.xcp-ng.org/isos/8.2/xcp-ng-8.2.1.iso">8.2</a></li>
					<li><a target="_blank" href="https://updates.xcp-ng.org/isos/8.1/xcp-ng-8.1.0-2.iso">8.1</a></li>
					<li><a target="_blank" href="https://updates.xcp-ng.org/isos/8.0/xcp-ng-8.0.0.iso">8.0</a></li>
				</ul>
			</td>
			<td>current</td>
		</tr>
	</tbody>
</table>
</div>
